.nodered/.flows_MacBook-Pro.json.backup
[{"id":"40ff9e56.a2a6a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"37e114a.a3192ec","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"90874d93.603e","type":"trigger","z":"40ff9e56.a2a6a","op1":"200","op2":"0","op1type":"str","op2type":"str","duration":"1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":220,"y":180,"wires":[["7f4ae7eb.9155d8","de42e753.35adf8"]]},{"id":"7f4ae7eb.9155d8","type":"mqtt out","z":"40ff9e56.a2a6a","name":"","topic":"lights/set/Desk lamp/brightness","qos":"1","retain":"false","broker":"37e114a.a3192ec","x":660,"y":200,"wires":[]},{"id":"de42e753.35adf8","type":"debug","z":"40ff9e56.a2a6a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":140,"wires":[]}]